welcome page<br />

<button nz-button nzType="primary">WELCOME</button>
<br /> <br />
<nz-steps [nzCurrent]="1">
    <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="In Progress" nzSubtitle="Left 00:00:08" nzDescription="This is a description."> </nz-step>
    <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
</nz-steps>

<hr />
<p>{{'Share component below'|uppercaseTextPipe}}</p>
<app-share></app-share>

<hr />
<h1>Tasks</h1>
<div *ngFor="let task of (tasks | async).tasks; let i = index">
    {{task}}
</div>

<hr />
<h1>Delelted Tasks</h1>
<div>
    <div *ngFor="let deletedTask of (tasks | async).deletedTasks; let i = index">
        {{deletedTask}}
    </div>
</div>

<hr />
<h1>Test NGRX Effect</h1>
<button nz-button nzType="primary" (click)="testEffects()">TEST EFFECTS</button>
<p>{{welcomeMessageDisplay}}</p>
